<a href="https://colab.research.google.com/github/franciscofijamo/machine_learng_handson/blob/master/KNN_predict_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## KNN 
### Hipoteses
* Dados semelhantes tendem a estar concentrados no mesmo espaço de dispersão
* CosConsidera a proximidade dos dados para realizar as predições
* Pode ser usada com qulquer medida de distância, e a mais usada é a distância euclidiana, outras metricas são Manhattan, Manhattan, Minkowski, etc

O parametro K indica quanas amostras vizinhas serão comparadas.
Especificar  o valor de K, é de extrema importância para o resultado do modelo

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
from sklearn.datasets import load_iris
warnings.filterwarnings('ignore')
%matplotlib inline

### 1.0 Load data

In [24]:
 link = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv'
 data = pd.read_csv(link)

In [26]:
print('Quantidade de linhas: {}\nQuantidade de Colunas: {}'.format(data.shape[0], data.shape[1]))

Quantidade de linhas: 150
Quantidade de Colunas: 5

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [30]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2.0 Machine Learning . Train Text Split

In [31]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('species', axis = 1),
                                                     data['species'],
                                                     test_size = 0.3)

### Data Shape

In [36]:
X_train.shape, X_test.shape

((105, 4), (45, 4))

In [38]:
y_train.shape, y_test.shape

((105,), (45,))

# 3.0 KNN  Algorithm

In [39]:
from sklearn.neighbors import KNeighborsClassifier

In [40]:
knn = KNeighborsClassifier(n_neighbors= 3)

In [41]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

### Model Predict KNN

In [45]:
knn_predict = knn.predict(X_test)
knn_predict

array(['versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'virginica',
       'setosa', 'virginica', 'versicolor', 'virginica', 'virginica',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'setosa', 'versicolor',
       'setosa', 'virginica', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'setosa', 'virginica', 'setosa', 'versicolor', 'setosa'],
      dtype=object)

### predict new values

In [46]:
new_values = np.array([[5.1,3.5,1.4,0.2]])

In [47]:

# predict proba return probability of data to class
knn.predict(new_values), knn.predict_proba(new_values)

(array(['setosa'], dtype=object), array([[1., 0., 0.]]))

Conclusao, a classe 'setosa', sua probabilidade para primeira colunas 'e 1, enquanto que para as outras  'e 0

# 4.0 Cross Table

In [49]:
print( pd.crosstab(y_test, knn_predict, rownames=['Real Value'], colnames=['                                    Predict'], margins= True))

                                    Predict  setosa  versicolor  virginica  All
Real Value
setosa                                           15           0          0   15
versicolor                                        0          14          2   16
virginica                                         0           1         13   14
All                                              15          15         15   45

# 5.0 Metrics Classificartion

In [50]:
from sklearn import  metrics

In [ ]:
print( metrics.classification_report(y_test, knn_predict, target_names= data['species']))