In [1]:
import pandas as pd
import numpy as np

### 1.0 Import file

In [2]:
file = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
df = pd.read_csv(file)

In [3]:
# rename columens
columns = ['filme_id', 'titulo', "genero"]
df.columns = columns

### 2.0 Create Dummies Variables

In [4]:
# get dummies
# separar os dummies
generos = df.genero.str.get_dummies()
generos.head()

   (no genres listed)  Action  Adventure  ...  Thriller  War  Western
0                   0       0          1  ...         0    0        0
1                   0       0          1  ...         0    0        0
2                   0       0          0  ...         0    0        0
3                   0       0          0  ...         0    0        0
4                   0       0          0  ...         0    0        0

[5 rows x 20 columns]

In [5]:
# concatenate dataframes
# axis = 1 - concatena um ao lado do outro, axis  0 - concatena um de baixo do outro
filmes = pd.concat([df, generos], axis = 1)
filmes.head()

   filme_id                              titulo  ... War  Western
0         1                    Toy Story (1995)  ...   0        0
1         2                      Jumanji (1995)  ...   0        0
2         3             Grumpier Old Men (1995)  ...   0        0
3         4            Waiting to Exhale (1995)  ...   0        0
4         5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

### 3.0  Scaling data

Vamos precisas de ter numeros que representem melhor que binarios. Pois alguns filmes tem mais de uma caracteristica que a outra, ou seja mais animacao por exemplo que comedia, embora tenha comedia, sendo assim e necessario representar os dados com numeros em escala, e nao so binarios, assim sabemos o quanoto de uma caracteristica esta presente em  um determinado filme que a outra.

In [6]:
from  sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [7]:
generos_escalados = scaler.fit_transform(generos)

generos_escalados.shape

(9742, 20)